<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">Mediportal</div>

            </div>
            <div class="col-md-9">
                <nav>
                    <ul>
                        <li><a routerLink="/Topics">Topics</a> </li>
                        <li><a routerLink="/About">About</a> </li>
                        <li><a routerLink="/heroes">Hero</a> </li>
                        <li><a routerLink="/Contacts">Contacts</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
