
<h3>topics covered!</h3>

<hr>
<h5>Components</h5>
<hr>
<h5>Routing</h5>
<hr>

<h5>string Interpolation</h5>
{{stringInterpolation}}
<hr>


<!-- One-way binding: Component to View -->
<h5>{{ message }}</h5>
<pre>In one-way binding, the data flow is one-directional.
This means that the flow of code is from typescript file to Html file.
we use the variable in Html with square brackets( [ ] )</pre>
<input [value]="username">

<h5 style="margin-top: 30px;">Two-way binding:</h5>
<pre>In a two-way binding, the data flow is bi-directional.
This means that the flow of code is from ts file to Html file as well as from Html file to ts file</pre>

<input [(ngModel)]="data"  type="text"> 
  
<h3> Entered data is  {{data}}</h3> 
<hr>


<h3>attribute directives</h3>
<div [ngStyle]="{'margin-top':'30px'}" *ngIf="false"> 
    This text will be hidden 
    <h1 [ngStyle]="{'color':'#FF0000'}"> 
      GFG Structural Directive Example 
    </h1> 
  </div> 
  <div [ngStyle]="{'margin-top':'30px'}" *ngIf="true"> 
    This text will be displayed 
    <h1 [ngStyle]="{'color':'#00FF00'}"> 
      ngStyle Structural Directive Example 
    </h1> 

    <h1 [ngClass]="{'color':true,'test':true}"> 
        ngClass Structural Directive Example 
      </h1> 
  </div>
  <div [ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }">INDIA</div>
  <hr>