/* You can add global styles to this file, and also import other style files */

.logo {
    float: left;
}

nav{
    float: right;
}
nav ul {
    display: flex;
    gap: 13px;
    list-style: none;
}